.checkoutSteps{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
    width: 60%;
    margin: auto;
 
    margin-top: 20px;
    margin-bottom: 20px;
}


.checkoutSteps__link{
    text-decoration: none;
    font-size: larger;
    color: black;
    font-family: sans-serif;
}

.checkoutSteps__disabled{
    border: none;
    color: lightgrey;
}