.checkoutSteps{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
    width: 60%;
    margin: auto;
 
    margin-top: 20px;
    margin-bottom: 20px;
}


.checkoutSteps__link{
    text-decoration: none;
    font-size: larger;
    color: black;
    font-family: sans-serif;
}

.checkoutSteps__link:hover{
    text-decoration: none;

}

.checkoutSteps__disabled{
    border: none;
    /* color: lightgrey; */
}



@media screen and (max-width:500px) {
    
    .checkoutSteps{
        font-size: small;
        width: 100%;
    }


    .checkoutSteps__link{

    
    color: green;
        display: flex;
    flex-direction: column;
    align-items: center;


}


    .checkoutSteps__disabled{
        background: none;
    border: none;
    color: lightgrey;
}
}