.cartScreen{
    /* border : 1px solid black; */
 margin : 20px;
}

.cartScreen__one > h3{
    padding-bottom: 10px;
    /* border-bottom : 2px solid lightgray; */
    text-transform: uppercase;
}

.cartScreen__container
{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    gap: 10px;
}

.cartScreen__one{
flex:1;

}

.cartScreen__two{
flex: 0.5;
}

.cartScreen__items
{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid lightgray;
    border-bottom-style: groove;
    padding-bottom: 10px;
    border-bottom-style: groove;

}


.cartScreen__image{
    width: 150px;
    height: auto;

}

.cartScreen__itemDetails{
    display: flex;
    flex-direction: column;

}



.cartScreen__name{
    flex : .3;
    text-decoration: none;
}

.cartScreen__removeBtn,.cartScreen__qty{
    padding:10px;
    background: lightgray;
    border:none;
}


.cartScreen__two{
        display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    height: 150px;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 0 20px;
    text-transform: uppercase;

}

.cartScreen__proceedToCheckout{
    color: white;
    padding: 10px;
    text-transform: unset;
    background: black;
    border: none;
}

.cartScreen__two__price{
        display: flex;
    align-items: center;
    gap: 8px;

}


.btn_disabled{
    background: lightgray;
}


@media Screen and (max-width:500px) {

    .cartScreen__container{
        flex-direction: column;
    }

    /* .cartScreen__items{
        gap:5px;
        justify-content: unset;
    } */

    .cartScreen__image {
    width: 80px;
    height: auto;
}

.cartScreen__name{
    font-size: smaller;
}

.cartScreen__removeBtn, .cartScreen__qty {
    padding: 2px;
    background: none;
    border: none;
}

.cartScreen__qty{
    background: lightgray;
}

.cartScreen__two {
    /* width: 100%; */
    margin-top: 30px;
    height: fit-content;
    justify-content: space-evenly;
    border-radius: 2px;
    
    text-transform: uppercase;
}
.cartScreen__two__price > .fa-rupee-sign
{
    /* display: flex; */
    /* align-items: center; */
  /* justify-content: space-evenly; */
  margin-left: 5px;
}



}