.paginate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.p{
    padding: 10px;
}

.current_page{
    color : white;
    padding:10px;
    background: rgb(49, 49, 253) !important;
}   